@model IEnumerable<TechnicalAssessment_ChannelEngine.Models.Product>

<h1>Aggregated Products</h1>

<table>
    <thead>
        <tr>
            <th>GTIN</th>
            <th>Description</th>
            <th>Total Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Gtin</td>
                <td>@product.Description</td>
                <td>@product.Quantity</td>
            </tr>
        }
    </tbody>
</table>